In [3]:
# Store the first ten square numbers in a list.
# Make an empty list that will hold our square numbers.
squares = []

# Go through the first ten numbers, square them, and add them to our list.
for number in range(1,11):
    new_square = number**2
    squares.append(new_square)
    
# Show that our list is correct.
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

In [4]:
# [ ] review and run example
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)

New York
Shanghai
Munich
Tokyo
Dubai
Mexico City
São Paulo
Hyderabad

In [5]:
# [ ] review and run example
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for sale in sales:
    total += sale
    
print("total sales:", total)

total sales: 124

In [6]:
# [ ] review and run example 
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for dollars in sales:
    total += dollars
    
print("total sales:", total)

total sales: 124

In [8]:
birds = ["cock","hen","peacock","peahen","Hyderabad","Bangalore"]
for bird in birds:
    print(bird)

cock
hen
peacock
peahen
Hyderabad
Bangalore

In [9]:
player_points = [1,2,7,6,4,5,9]
for double in player_points:
    double *= 2
    print(double)

2
4
14
12
8
10
18

In [11]:
long_string = ""
for bird in birds:
    long_string += bird + " "
print(long_string)

cock hen peacock peahen Hyderabad Bangalore