# String Extend

In [17]:
team_a = [0,2,2,2,4,4,4,5,6,6,6]
team_b = [0,0,0,1,1,2,3,3,3,6,8]
print("Team A:", team_a, "\nTeam B:",team_b)
team_totals = team_a + team_b
print("Team Totals", team_totals)

team_a.extend(team_b)
print("Team_a extended", team_a)

Team A: [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6]
Team B: [0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team Totals [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team_a extended [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

In [26]:
common_birds = ["chicken", "blue jay", "crow", "pigeon"]
birds = ["kingfisher","eagle","vulture","flamingo","parakeet","parrot"]
common_birds.extend(birds)
print(birds)
print(common_birds)

['kingfisher', 'eagle', 'vulture', 'flamingo', 'parakeet', 'parrot']
['chicken', 'blue jay', 'crow', 'pigeon', 'kingfisher', 'eagle', 'vulture', 'flamingo', 'parakeet', 'parrot']

In [31]:
zero_nine = [1,2,3,4,5,6,7,8,9]
ten_onehundred = [10,20,30,40,50,60,70,80,90,100]
all_num =  zero_nine + ten_onehundred
print(all_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# String Reverse

In [33]:
print("regular list",all_num, "\n")
all_num.reverse()
print("reverse list",all_num, "\n")
print("Three Multiple")
for num in all_num:
    if num/3 == int(num/3):
        print(num)
    else:
        pass

regular list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

reverse list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Three Multiple
3
6
9
30
60
90

In [34]:
count_list = list(range(21))
print("before list", count_list)

# and reverse
count_list.reverse()
print("after list", count_list)

before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [35]:
num = list(range(5,101,5))
print("Initial list",num)
num.reverse()
print("Final list",num)

Initial list [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
Final list [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [37]:
fours = list(range(44,3,-4))
more_fours = list(range(4,45,4))
print("fours list",fours)
print("more_fours list",more_fours)
fours.extend(more_fours)
print("Before list",fours)
fours.reverse()
print("After list",fours)

fours list [44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4]
more_fours list [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]
Before list [44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]
After list [44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]

In [38]:
quiz_scores = [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]
quiz_scores.sort()
print("quiz_scores:", quiz_scores)
game_points = [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points = sorted(game_points)

print("game_points:", game_points)
print("sorted_points:", sorted_points)

quiz_scores: [15, 18, 18, 18, 19, 19, 20, 20, 20, 20, 20]
game_points: [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points: [0, 1, 3, 3, 8, 8, 14, 21]

In [41]:
listalpha = ["g","G","p","P","a","A"]
print("Before list",listalpha)
listalpha.sort()
print("Sorted list",listalpha)

Before list ['g', 'G', 'p', 'P', 'a', 'A']
Sorted list ['A', 'G', 'P', 'a', 'g', 'p']

In [50]:
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad","Quebec","Reykjavik"]
visited_cities.sort()
cities = ["Charlotte","Little Rock","Milwaukee"]
counter = 0
for city in visited_cities:
    if city >= "Q":
        print(city)
        counter += 1
    else:
        pass
if counter == 0:
    print("No cities found")
    
counter = 0

for city in cities:
    if city >= "Q":
        print(city)
        counter += 1
    else:
        pass
if counter == 0:
    print("No cities found in",cities)

Quebec
Reykjavik
Shanghai
São Paulo
Toyko
No cities found in ['Charlotte', 'Little Rock', 'Milwaukee']

In [57]:
animals = ["zebra","giraffe","rhino","cow","bison"]
ani = input("Enter an animal or leave empty ")
add_animals = []
while ani != "":
    add_animals.append(ani)
    ani = input("Enter an animal or leave empty ")

print("Initial list",animals)
animals.extend(add_animals)
print("Final list",animals)
animals.sort()
print("Sorted list",animals)
animals.reverse()
print("Reverse list",animals)

Enter an animal or leave empty horse
Enter an animal or leave empty kangaroo
Enter an animal or leave empty leopard
Enter an animal or leave empty cheetah
Enter an animal or leave empty
Initial list ['zebra', 'giraffe', 'rhino', 'cow', 'bison']
Final list ['zebra', 'giraffe', 'rhino', 'cow', 'bison', 'horse', 'kangaroo', 'leopard', 'cheetah']
Sorted list ['bison', 'cheetah', 'cow', 'giraffe', 'horse', 'kangaroo', 'leopard', 'rhino', 'zebra']
Reverse list ['zebra', 'rhino', 'leopard', 'kangaroo', 'horse', 'giraffe', 'cow', 'cheetah', 'bison']