In [2]:
# [ ] review and run example of sorting into strings to display
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = ""
shorter_names = ""

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names += "\n" + bone_name
    else:
        longer_names += "\n" + bone_name

print(shorter_names)
print(longer_names)

calcaneus
talus
cuboid
navicular

lateral cuneiform
intermediate cuneiform
medial cuneiform

In [3]:
# [ ] review and run example of sorting into lists
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = []
shorter_names = []

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names.append(bone_name)
    else:
        longer_names.append(bone_name)

print(shorter_names)
print(longer_names)

['calcaneus', 'talus', 'cuboid', 'navicular']
['lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

In [23]:
cities = ["Mumbai","Manila","Montreal","Shanghai","Massachussetts","Mississippi","Montgomery","Milwaukee","Vancouver","Seoul","Beirut"]
print("Cities that start with an 'm'")
for word in cities:
    if word.lower().startswith("m"):
        print(word)
    else:
        pass

Cities that start with an 'm'
Mumbai
Manila
Montreal
Massachussetts
Mississippi
Montgomery
Milwaukee

In [20]:
a_name = ""
a_no_name = ""
for word in cities:
    if word.find("a") > 0:
        a_name += word + " "  
    else:
        a_no_name += word + " "
print("Cities with an 'a' in their name")
print(a_name)
print("Cities with no 'a's in their name")
print(a_no_name)

Cities with an 'a' in their name
Mumbai Manila Montreal Shanghai Massachussetts Milwaukee Vancouver
Cities with no 'a's in their name
Mississippi Montgomery Seoul Beirut